.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2b3b4b;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 50% top -5px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left 50% top -2px;
  }
}

.page-header--index {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2b3b4b;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left 50% top -5px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50% top -5px;
  }
}

.page-header__container {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 257px 284px;
  background-repeat: no-repeat;
  background-position: top 113px left 3px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px 284px;
    background-repeat: no-repeat;
    background-position: top 174px left 3px;
  }
}

.page-header--not-js {
  background-position: 50% 255px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-position: 50% 255px;
  }
}

.page-header__logo-link {
  display: block;
}

.page-header__logo {
  display: block;
}

.page-header__logo-pink-white {
  padding-top: 4px;
  fill: #ffffff;
}

.page-header__logo-pink-white:hover {
  fill: #d22856;
}

.page-header__logo-pink-white:active {
  fill: #6c7681;
}

.page-header__logo-pink-white--desktop,
.page-header__logo-pink-white--tablet {
  display: none;
}

@media (min-width: @tablet-min-width) {
  .page-header {
    background: #2b3b4b url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: 50% 0;
    overflow: hidden;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      background-position: 50% 0;
      overflow: hidden;
    }
  }

  .page-header--index {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: #2b3b4b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50% top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left 50% top;
    }
  }

  .page-header__container {
    width: 620px;
    padding-bottom: 1px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-repeat: no-repeat;
    background-position: bottom right -40px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px 545px;
      background-repeat: no-repeat;
      background-position: bottom right -40px;
    }
  }

  .page-header--not-js {
    background-position: 50% 255px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-position: 50% 255px;
    }
  }

  .page-header__navigation {
    min-height: 110px;
  }

  .page-header__logo {
    width: 147px;
    height: 43px;
  }

  .page-header__logo-pink-white {
    padding: 0;
  }

  .page-header__logo-pink-white--tablet {
    display: block;
  }

  .page-header__logo-pink-white--desktop,
  .page-header__logo-pink-white--mobile {
    display: none;
  }
}

@media (min-width: @desktop-min-with) {
  .page-header {
    background: #2b3b4b url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      background-position: 50% 12px;
    }
  }

  .page-header--index {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50% top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left 50% top;
    }
  }

  .page-header__container {
    width: 940px;
    padding-bottom: 1px;
    margin: 0 auto;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-repeat: no-repeat;
    background-position: bottom right -125px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px 645px;
      background-repeat: no-repeat;
      background-position: bottom right -125px;
    }
  }

  .page-header--not-js {
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-position: 50% 0;
    }
  }

  .page-header__logo {
    width: 150px;
    height: 41px;
    margin-bottom: 17px;
  }

  .page-header__logo-pink-white--desktop {
    display: block;
    margin-top: -15px;
  }

  .page-header__logo-pink-white--tablet,
  .page-header__logo-pink-white--mobile {
    display: none;
  }

  .page-header__navigation {
    min-height: 110px;
  }
}
