.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .container;
  padding: 0;
  margin: 0 auto;
}

.banner--index {
  width: 320px;
  min-height: 397px;
}

.banner__slogan {
  .null-indent;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.banner__slogan--index {
  width: 280px;
  margin: 0 auto;
  padding: 22px 20px 28px 20px;
}

.banner__slogan--photo {
  width: 180px;
  font-weight: 300;
  padding: 30px 20px 80px 20px;
  margin: 0 auto;
}

.banner__slogan--form {
  width: 230px;
  padding: 30px 20px 53px 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-min-width) {
  .banner {
    margin: 0;
  }

  .banner--index {
    min-height: auto;
  }

  .banner--photo,
  .banner--form {
    width: auto;
    margin: 0 auto;
  }

  .banner__slogan--index {
    width: 195px;
    padding: 90px 0 32px 52px;
    margin: 0;
    font-size: 40px;
    line-height: 48px;
  }

  .banner__slogan--photo {
    display: block;
    width: 400px;
    padding: 72px 20px 139px 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .banner__slogan--form {
    display: block;
    width: 480px;
    padding: 73px 20px 79px 20px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-min-with) {
  .banner {
    padding-left: 33px;
    margin: 0;
  }

  .banner__slogan--index {
    width: 230px;
    padding: 106px 0 52px 0;
    margin: 0;
    font-size: 50px;
    line-height: 60px;
  }

  .banner__slogan--photo {
    padding: 64px 0 100px 0;
    margin: 0 auto;
  }

  .banner__slogan--form {
    width: 800px;
    padding-top: 63px;
    padding-bottom: px;
  }

  .banner--photo {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .banner--form {
    padding: 0;
  }
}
