.page-header {
  max-width: 320px;
  margin: 0 auto;
  background: #2b3b4b url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

@media (min-width: @tablet-min-width) {
  .page-header {
    max-width: 1199px;
    box-sizing: border-box;
    background: #2b3b4b url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: top 0 left -300px;
  }

  .page-header--index {
    position: relative;
    min-height: 730px;
  }

  .page-header__navigation {
    width: 100%;
    min-height: 110px;
  }
}
