.bn3r {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  .container;
  padding: 0;
}

.bn3r__slogan {
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
}

.bn3r__slogan--index {
  padding: 18px 20px 12px 20px;
}

.bn3r__slogan--photo {
  padding: 32px 20px 88px 20px;
}

.bn3r__slogan--form {
  padding: 32px 20px 49px 20px;
}

.form__btn {
  width: 100%;
}
