.features-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 320px;
  box-sizing: border-box;
  .container;
  padding: 50px 20px 0 20px;
  background-color: @bg-content;
}

.features-app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-app__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style;
}

.features-app__item {
  margin-bottom: 35px;
}

.features-app__item {
  text-align: left;
}

.features-app__item:last-child {
  margin-bottom: 45px;
}

.features-app__list-text {
  .null-indent;
  text-align: center;
}

.features-app__title {
  .null-indent;
  margin-bottom: 15px;
  text-align: center;
}

.features-app__preview-app {
  margin-bottom: -50px;
}

.features-app__effect {
  display: none;
}

@media (min-width: @tablet-min-width) {
  .features-app {
    max-width: 660px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .features-app__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .features-app__list {
    order: 2;
    width: 310px;
  }

  .features-app__title {
    text-align: left;
  }

  .features-app__list-text {
    text-align: left;
  }

  .features-app__pictures {
    width: 310px;
  }

  .features-app__preview-app {
    display: block;
    width: 270px;
    height: 481px;
    margin: 0;
  }

  .features-app__effect {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 0 20px;
    background: #fff;
  }

  .features-app__effect-container {
    max-width: 310px;
  }

  .features-app__effect-title {
    .null-indent;
    max-width: 170px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000;
  }

  .features-app__effect-text {
    max-width: 297px;
    .null-indent;
    padding-bottom: 15px;
  }

  .features-app__effect-link {
    color: #d22856;
  }
}
