.features-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 320px;
  box-sizing: border-box;
  .container;
  padding: 50px 20px 0 20px;
  background-color: @bg-content;
}

.features-app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-app__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style;
}

.features-app__item {
  margin-bottom: 35px;
}

.features-app__item {
  text-align: left;
}

.features-app__item:last-child {
  margin-bottom: 45px;
}

.features-app__list-text {
  .null-indent;
  text-align: center;
}

.features-app__title {
  .null-indent;
  margin-bottom: 15px;
  text-align: center;
}

.features-app__preview-app {
  margin-bottom: -50px;
}

@media (min-width: @tablet-min-width) and (max-width: @tablet-max-width) {
  .features-app {
    max-width: 660px;
    margin: 0;
  }

  .features-app__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .features-app__list {
    order: 2;
    width: 310px;
  }

  .features-app__title {
    text-align: left;
  }

  .features-app__list-text {
    text-align: left;
  }

  .features-app__pictures {
    width: 310px;
  }

  .features-app__preview-app {
    width: 270px;
    height: 481px;
  }
}
