.features-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .container;
  padding-top: 79px;
  margin-bottom: 27px;
  background-color: @bg-content;
}

.features-app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-app__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-style;
}

.features-app__item {
  margin-bottom: 31px;
}

.features-app__item {
  text-align: left;
}

.features-app__item:last-child {
  margin-bottom: 45px;
}

.features-app__list-text {
  .null-indent;
  text-align: center;
}

.features-app__title {
  .null-indent;
  margin-bottom: 12px;
  text-align: center;
}

.features-app__preview-app {
  margin-bottom: -51px;
}

.features-app__effect {
  display: none;
}

@media (min-width: @tablet-min-width) {
  .features-app {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 130px;
    background: #fff;
  }

  .features-app__container {
    margin: 0 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .features-app__logo {
    position: absolute;
    left: 40px;
    top: 115px;
    .null-indent;
    width: 202px;
    height: 202px;
    box-sizing: border-box;
    padding-top: 67px;
    font-size: 96px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 50%;
  }

  .icon-timer {
    position: absolute;
    left: 20px;
    top: 60px;
    fill: #dedede;
  }

  .features-app__list {
    order: 2;
    margin-left: 45px;
  }

  .features-app__title {
    text-align: left;
  }

  .features-app__list-text {
    text-align: left;
  }

  .features-app__preview-app {
    display: block;
    width: 270px;
    height: 481px;
    margin: 0;
  }

  .features-app__effect {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 0 20px;
  }

  .features-app__effect-container {
    padding-top: 42px;
    max-width: 310px;
  }

  .features-app__effect-title {
    .null-indent;
    max-width: 170px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000;
  }

  .features-app__effect-text {
    .null-indent;
    padding-bottom: 15px;
  }

  .features-app__effect-link {
    color: #d22856;
  }
}

@media (min-width: @desktop-min-with) {
  .features-app {
    padding-top: 0;
    background: @bg-content;
  }

  .features-app__container {
    max-width: 960px;
    margin: 0 auto;
  }

  .features-app__logo {
    top: 51px;
    left: 19px;
  }

  .icon-timer {
    left: 0;
    top: -5px;
  }

  .features-app__list {
    flex-direction: row;
    align-items: baseline;
    margin-left: 0;
  }

  .features-app__preview-app {
    display: none;
  }

  .features-app__item {
    padding-top: 350px;
    box-sizing: border-box;
    margin: 0 32px;
  }

  .features-app__item:first-child {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
    background-position: top 0 left -20px;
  }

  .features-app__item:nth-child(2) {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
    background-position: top 0 left -20px;
  }

  .features-app__item:nth-child(3) {
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
    background-position: top 0 left -20px;
  }

  .features-app__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
  }

  .features-app__list-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features-app__effect {
    max-width: 940px;
    padding: 50px 48px 0 130px;
    background: @bg-content;
  }

  .features-app__effect-container {
      min-width: 525px;
      padding-top: 0;
  }

  .features-app__effect-title {
    max-width: 310px;
  }

  .features-app__effect-text {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }

  .features-app__effect-link {
    font-size: 18px;
    line-height: 30px;
  }
}


