.slider-reviews {
  width: 320px;
  .container;
  padding: 48px 20px 67px 20px;
}

.slider-reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-reviews__list {
  display: flex;
  flex-wrap: wrap;
  .list-style();
}

.slider-reviews__user-name {
  .null-indent;
  margin-bottom: 22px;
  line-height: 30px;
  text-align: center;
}

.slider-reviews__feedback-text {
  .null-indent;
  margin-bottom: 32px;
  line-height: 30px;
  text-align: center;
}
