.slider-reviews {
  max-width: 320px;
  .container;
  padding: 48px 20px 67px 20px;
}

.slider-reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-reviews__list {
  display: flex;
  flex-wrap: wrap;
  .list-style();
}

.slider-reviews__user-name {
  .null-indent;
  margin-bottom: 22px;
  line-height: 30px;
  text-align: center;
}

.slider-reviews__user-profession {
  display: none;
}

.slider-reviews__feedback-text {
  .null-indent;
  margin-bottom: 32px;
  line-height: 30px;
  text-align: center;
}

.slider-reviews__item:nth-child(2),
.slider-reviews__item:nth-child(3) {
  display: none;
}


@media (min-width: @tablet-min-width) and (max-width: @tablet-max-width) {
  .slider-reviews {
    max-width: 660px;
    padding-top: 130px;
  }

  .slider-reviews__item {
    display: flex;
    flex-direction: column;
  }

  .slider-reviews__user-name {
    order: 2;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .slider-reviews__user-profession {
    order: 3;
    .null-indent;
    display: block;
    text-align: center;
  }

  .slider-reviews__feedback-text {
    margin-bottom: 40px;
  }
}
