.tariffs {
  padding-top: 87px;
  padding-bottom: 47px;
  background-color: @bg-content;
}

.tariffs__container {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
}

.tariffs__table {
  width: 1120px;
  margin-left: -539px;
  margin-bottom: 42px;
  border-spacing: 0;
  background-color: #fff;
}

.tariffs__tarifs-name-line {
  background-color: @bg-info-content;
}

.tariffs__cell-title {
  box-sizing: border-box;
  padding: 17px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #e5e5e5;
}

.tariffs__cell-title--empty {
  background-color: @bg-content;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.tarriffs__tariff-sale {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.tariffs-info-line {
  padding: 0;
}

.tariff__option {
  width: 280px;
  height: 59px;
  box-sizing: border-box;
  padding: 17px 21px;
  border: 1px solid #e5e5e5;
}

.tariff__option {
  position: relative;
}

.option-on {
  position: absolute;
  top: 18px;
  right: 19px;
  fill: #3dc644;
}

.option-off {
  position: absolute;
  top: 17px;
  right: 21px;
  fill: #f25b26;
}

.tarrifs__label-mobile {
  text-transform: uppercase;
}

.tariffs__toggles {
  margin: 0 auto;
}

@media (min-width: @tablet-min-width) {
  .tariffs {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
  }

  .tariffs__container {
    width: 100%;
  }

  .tariffs__table {
    max-width: 620px;
    margin: 0 auto;
  }

  .tariffs__cell-title {
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
  }

  .tariff__option {
    width: 152px;
    height: 45px;
    box-sizing: border-box;
    padding: 10px 5px 10px 17px;
    font-size: 14px;
    line-height: 30px;
  }

  .tariff__option--on svg {
    top: 13px;
    left: 61px;
  }

  .tariff__option--off svg {
    top: 9px;
    left: 63px;
  }

  .tariffs__cell-title {
    font-size: 18px;
    line-height: 30px;
  }

  .tarrifs__label-mobile {
    display: none;
  }

  .tariffs__toggles {
    display: none;
  }
}

@media (min-width: @desktop-min-with) {
  .tariffs__container {
      width: auto;
  }

  .tariffs__table {
    max-width: 940px;
  }

  .tariffs__cell-title {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff__option {
    height: 59px;
  }

  .tariff__option--on svg {
    top: 22px;
    left: 100px;
  }

  .tariff__option--off svg {
    top: 16px;
    left: 103px;
  }
}
