.img-filter {
  max-width: 320px;
  margin: 0 auto;
  background-color: @bg-content;
}

.img-filter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
  border-bottom: 1px solid #dddfe0;
}

.img-filter__photo-link {
  margin-bottom: 42px;
}

.img-filter__filter-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  .list-style;
  margin-bottom: 40px;
}

.filter-tool__button {
  font-size: 0;
  border: none;
  background-color: none;
}

.filter-tool__button--crop {
  width: 45px;
  height: 45px;
  background: url(../img/icon-editor-crop.svg);
}

.filter-tool__button--filling {
  width: 50px;
  height: 45px;
  background: url(../img/icon-editor-fill.svg);
}

.filter-tool__button--contrast {
  width: 32px;
  height: 32px;
  background: url(../img/icon-editor-contrast.svg);
}

.img-filter__filter-toggle {
  width: 240px;
  position: relative;
}

.img-filter__scale {
 width: 240px;
 border: 1px solid @bg-info-content;
}

.img-filter__toggle {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -8px;
  right: 33px;
  background-color: @bg-content;
  border: 2px solid #d22856;
  border-radius: 50%;
}

.img-filter__btn {
  max-width: 320px;
  box-sizing: border-box;
  .container;
  padding: 38px 20px 42px 20px;
  background-color: @bg-content;
}

.img-filter__btn-container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}

.img-filter__btn-item {
  box-sizing: border-box;
  padding: 15px;
}

.img-filter__filter-tools .img-filter__filter-toggle {
  display: none;
}

.img-filter__btn-item--post {
  margin-bottom: 12px;
  color: #d22856;
  background-color: @bg-content;
  border: 3px solid #d22856;
}

.img-filter__btn-item--cancel {
  color: rgba(40, 54, 69, 0.1);
  background-color: @bg-content;
  border: 3px solid #dddfe0;
}

@media (min-width: @tablet-min-width) and (max-width: @tablet-max-width) {
  .img-filter {
    position: relative;
    max-width: 660px;
    margin: 0;
  }

  .img-filter__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 660px;
    padding: 58px 20px 55px 20px;
  }

  .img-filter__photo-link {
    margin: 0;
  }

  .img-filter__filter-tools {
    width: 300px;
    flex-direction: column;
  }

  .img-filter__filter-tool {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 70px;
    border-bottom: 1px solid #dddfe0;
  }

  .img-filter .img-filter__filter-toggle {
    display: none;
  }

  .img-filter__filter-tool .img-filter__filter-toggle {
    display: block;
  }

  .img-filter__crop .img-filter__scale,
  .img-filter__filling .img-filter__scale,
  .img-filter__contrast .img-filter__scale {
    width: 204px;
  }

  .img-filter__btn {
    position: absolute;
    bottom: 63px;
    right: 34px;
    width: 260px;
    .null-indent;
  }

   .img-filter__btn-item--cancel,
  .img-filter__btn-item--post {
    width: 260px;
  }
}
