.form__user-name-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 26px 20px;
  margin: 0 auto;
}

.form__name-field {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-bottom: 7px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.form__contact-item {
  margin-bottom: 17px;
}

.form__user-input,
.form__contact-input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 19px 21px;
  font-size: 18px;
  color: @bg-info-content;
  border: 2px solid #e5e5e5;
}

.form__user-input:hover,
.form__contact-input:hover {
  border-color: @border-hover;
}

.form__user-input:focus,
.form__contact-input:focus {
  border-color: @border-active;
}

.form__user-name-container input:last-child {
  margin-bottom: 0;
}

.form__user-item {
  margin-bottom: 15px;
}

.form__progress-form {
  padding: 38px 20px 43px 20px;
  background-color: @bg-content;
}

.form__progress-form-container {
  border: none;
  .null-indent;
}

.form__title {
  .null-indent;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.form__title--progress {
  max-width: 230px;
  margin-bottom: 40px;
}

.form__title--contacts {
  display: none;
}

.form__checkbox-list,
.form__radio-item {
  .list-style;
}

.form__radio-label,
.form__checkbox-label {
  display: flex;
  align-items: center;
  height: 39px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.form__checkbox-item {
  margin-bottom: 43px;
}

.form__checkbox-item:last-child {
  margin-bottom: 0;
}

.form__checkbox,
.form__radio {
  display: none;
  cursor: pointer;
}

.form__radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.form__radio-item:last-child {
  margin-bottom: 0;
}

.form__checkbox-check,
.form__radio-check {
  display: inline-block;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  margin-right: 30px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form__checkbox-label:hover .form__checkbox-check,
.form__radio-label:hover .form__radio-check {
  border-color: @border-hover;
}

.form__checkbox-label:active .form__checkbox-check,
.form__radio-label:active .form__radio-check {
  border-color: @border-active;
}

.form__checkbox:checked + .form__checkbox-check {
  background: #ffffff url("../img/icon-yes.svg") no-repeat;
  background-size: 23px;
  background-position: 50% 50%;
}

.form__radio-check {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.form__radio:checked + .form__radio-check {
  background: #ffffff url("../img/icon-map-marker.svg") no-repeat;
  background-position: 50% 50%;
}

.form__user-contacts-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 29px 20px 26px 20px;
  border: none;
}

.form__contact-input {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 18px 21px;
  font-size: 18px;
  color: @bg-info-content;
  border: 2px solid #e5e5e5;
}

.form__img-input {
  display: none;
}

.form__contact-input:last-child {
  margin-bottom: 0;
}

.form__app-form {
  .null-indent;
  padding: 37px 20px 43px 20px;
  background-color: @bg-content;
  margin-bottom: 40px;
}

.form__app-form-container {
  .null-indent;
  border: none;
}

.form__title--app {
  max-width: 180px;
  margin-bottom: 35px;
}

.form__app-items {
  .null-indent;
}

.form__emotions {
  padding: 0 20px;
  margin-bottom: 44px;
}

.form__emotions-container {
  .null-indent;
  position: relative;
  box-sizing: border-box;
  padding-top: 15px;
  border: none;
}

.form__textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 14px 19px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
}

.form__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container;
  padding: 0 20px;
}

.form__btn {
  width: 100%;
  margin: 0 auto;
  padding: 23px;
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: #2aab6d;
  color: #ffffff;
  border-radius: 5px;
}

.form__btn:hover {
  background-color: #1c9b5e;
}

.form__btn:active {
  color: #61b98f;
}

.form__btn:disabled {
  background-color: #e5e5e5;
}

.form__btn:disabled:active {
  color: #ffffff;
}

.form__label,
.form__label--desktop {
  width: 280px;
  .null-indent;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__label--desktop {
  display: none;
}

.form-label-mark {
  color: #d22856;
}

@media (min-width: @tablet-min-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__user-name-container {
    order: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 45px 20px;
  }

  .form__name-field {
    padding: 0 20px 28px 0;
  }

  .form__user-name-container input {
    flex-grow: 1;
    margin-bottom: 55px;
  }

  .form__user-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 39px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__radio-item {
    margin-left: 59px;
    margin-bottom: 37px;
  }

  .form__radio-label,
  .form__checkbox-label {
    font-size: 18px;
    line-height: 30px;
  }

  .form__progress-form {
    order: 4;
    margin: 0;
    margin-bottom: 57px;
    padding: 0 20px;
    background: #ffffff;
  }

  .form__progress-form-container {
    padding: 0;
    border: 2px solid #e5e5e5;
    padding-bottom: 48px;
  }

  .form__title--progress {
    max-width: 440px;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 44px;
  }

  .form__checkbox-list {
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__checkbox-check,
  .form__radio-check {
    width: 38px;
    height: 38px;
    margin-right: 19px;
  }

  .form__user-contacts-container {
    order: 3;
    padding: 37px 60px 27px 60px;
    margin: 0 20px 56px 20px;
    border: 2px solid #e5e5e5;
  }

  .form__title--contacts {
    display: block;
  }

  .form__contact-item {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 0;
  }

  .form__contact-input {
    padding: 20px 80px 20px 17px;
  }

  .form__img-input {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #e5e5e5;
  }

  .form__img-input--phone {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .form__img-input--email {
    display: block;
    width: 61px;
    height: 61px;
    right: 2px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .form__name-field--contact {
    padding: 9px 20px 28px 17px;
  }

  .form__contact-item:last-child .form__name-field {
    padding-bottom: 0;
  }

  .form__app-form {
    order: 2;
    padding: 0 20px;
    background-color: #ffffff;
    margin-bottom: 57px;
  }

  .form__app-form-container {
    border: 2px solid #e5e5e5;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__title--app {
    max-width: 400px;
    padding: 0 20px;
    margin-bottom: 0;
  }

  .form__app-items {
    padding-top: 44px;
    padding-bottom: 52px;
  }

  .form__emotions {
    order: 5;
    margin-bottom: 64px;
  }

  .form__emotions-container {
    position: initial;
    .null-indent;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 50px;
    border: 2px solid #e5e5e5;
  }

  .form__textarea {
    display: block;
    max-width: 500px;
    height: 193px;
    margin: 0 auto;
  }

  .form-title--emotions {
    position: initial;
  }

  .form__btn-container {
    order: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
  }

  .form__btn {
    max-width: 300px;
    margin: 0;
  }

  .form__label {
    text-align: right;
  }
}

@media (min-width: @desktop-min-with) {
  .form {
    width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form__user-name-container {
    max-width: 507px;
    padding: 0;
    padding-right: 70px;
    padding-bottom: 56px;
    margin: 0;
  }

  .form__user-item {
    margin-bottom: 53px;
  }

  .form__app-form {
    width: 433px;
    padding: 0;
    margin-top: -15px;
  }

  .form__app-items {
    padding-top: 45px;
    padding-bottom: 53px;
  }

  .form__user-contacts-container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    margin-bottom: 57px;
    padding-top: 34px;
    padding-bottom: 12px;
  }

  .form__name-field {
    padding-bottom: 0;
  }

  .form__contact-item {
    flex-grow: 1;
    padding-right: 36px;
    margin-bottom: 0;
  }

  .form__img-input--phone {
    right: 38px;
    width: 61px;
    height: 61px;
  }

  .form__contact-item:last-child {
    padding-right: 0;
    padding-left: 36px;
  }

  .form__radio-item {
    margin-left: 73px;
  }

  .form__progress-form {
    width: 100%;
    padding: 0;
  }

  .form__progress-form-container {
    padding-bottom: 0;
  }

  .form__checkbox-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 8px;
  }

  .form__checkbox-item {
    min-width: 255px;
  }

  .form__checkbox-item:nth-child(1) {
    order: 1;
  }

  .form__checkbox-item:nth-child(2) {
    order: 4;
    margin-bottom: 0;
  }

  .form__checkbox-item:nth-child(3) {
    order: 2;
  }

  .form__checkbox-item:nth-child(3) .form__checkbox-label {
    margin-left: 8px;
  }

  .form__checkbox-item:nth-child(4) {
    order: 5;
  }

  .form__checkbox-item:nth-child(4) .form__checkbox-label {
    margin-left: 8px;
    margin-bottom: 0;
  }


  .form__checkbox-item:nth-child(5) {
    order: 3;
  }

  .form__checkbox-item:nth-child(6) {
    order: 6;
    margin-bottom: 48px;
  }

  .form__checkbox-label {
    font-size: 18px;
    box-sizing: border-box;
  }

  .form__emotions {
    padding: 0;
    width: 100%;
  }

  .form__emotions-container {
    margin: 0;
    padding-top: 33px;
    padding-bottom: 40px;
  }

  .form__textarea {
    max-width: 822px;
    height: 130px;
  }

  .form__btn-container {
    width: 100%;
    padding: 0;
  }

  .form__label {
    width: 320px;
  }

  .form__label--desktop {
    display: initial;
  }
}
