.footer {
  margin: 0 auto;
  padding: 35px 20px;
}

.footer--index {
  display: none;
}

.footer--form {
  padding: 48px 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__footer-logo {
  display: block;
  margin-bottom: 32px;
}

.footer__social-btns {
  display: flex;
  justify-content: space-between;
  width: 177px;
  .list-style;
  margin-bottom: 37px;
}

.footer__social-link {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.footer__social-link:hover {
  border: 2px solid @border-hover;
}

.footer__social-link:active {
  opacity: 0.1;
}

.fb{
  fill: #d22856;
  margin: 30% 43%;
}

.twit{
  fill: #d22856;
  margin: 37% 35%;
}

.youtube{
  fill: #d22856;
  margin: 37% 39%;
}

.footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 35px;
  line-height: 35px;
  background-position: 103px;
}

.academy{
  fill: #d22856;
}

.academy:hover {
  fill: @link-hover;
}

.academy:active {
  fill: @link-hover;
  opacity: 0.3;
}

.footer__academy-link {
  text-decoration: none;
  color: @bg-info-content
}

@media (min-width: @tablet-min-width) {
  .footer {
    margin: 0;
    padding: 35px 20px;
  }

  .footer--index {
    display: block;
  }

  .footer--form {
    padding: 83px 20px 35px 20px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: 0 auto;
  }

  .footer__footer-logo {
    width: 148px;
    height: 40px;
    margin-bottom: 20px;
  }

  .footer__social-btns {
    margin-right: 20px;
    margin-bottom: 6px;
  }
}

@media (min-width: @desktop-min-with) {
  .footer {
    padding: 98px 20px;
  }

  .footer--index {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .footer--form {
    padding-top: 64px;
  }

  .footer__container {
    max-width: 940px;
  }

  .footer__social-btns {
    margin: 0;
    margin-left: 10px;
  }

  .footer__academy-link {
    width: 155px;
    font-size: 18px;
  }
}
