.footer {
  margin: 0 auto;
  padding: 40px 20px;
}

.footer--index {
  display: none;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__footer-logo {
  display: block;
  margin-bottom: 40px;
}

.footer__social-btns {
  display: flex;
  justify-content: space-between;
  width: 177px;
  .list-style;
  margin-bottom: 40px;
  margin-right: 19px;
}

.footer__social-link {
  display: block;
  width: 46px;
  height: 46px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.footer__social-link--fb svg{
  fill: #d22856;
  margin: 30% 43%;
}

.footer__social-link--twit svg{
  fill: #d22856;
  margin: 37% 35%;
}

.footer__social-link--youtube svg{
  fill: #d22856;
  margin: 37% 39%;
}

.footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 35px;
  line-height: 35px;
  background-position: 103px;
}

.footer__academy-link svg {
  fill: #d22856;
}

.footer__academy-link {
  text-decoration: none;
  color: @bg-info-content
}

@media (min-width: @tablet-min-width) {
  .footer {
    margin: 0;
    padding: 35px 20px;
  }

  .footer--index {
    display: block;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: 0 auto;
  }

  .footer__footer-logo {
    width: 148px;
    height: 40px;
    margin-bottom: 20px;
  }

  .footer__social-btns {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-min-with) {
  .footer__container {
    max-width: 940px;
  }
}
