body {
  margin: 0;
  padding: 0;
}

.h1 {
  text-align: center;
  color: #fff;
}

.h3 {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.btn {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 30px;
}

.about-app__download-link {
  margin-bottom: 32px;
}
