.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  background: #2b3b4b url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-header__navigation {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__slogan-text--photo {
  margin-bottom: 82px;
}

.page-header__page-title--form {
  width: 250px;
  margin-bottom: 50px;
}
